<%= form_with(model: staff, local: true) do |form| %>
  <% if staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(staff.errors.count, "error") %> prohibited this staff from being saved:</h2>

      <ul>
      <% staff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :スタッフID %>
    <%= form.text_field :staff_num, id: :staff_staff_num %>
  </div>

  <div class="field">
    <%= form.label :スタッフ名 %>
    <%= form.text_field :staff_name, id: :staff_staff_name %>
  </div>

  <div class="field">
    <%= form.label :評価サイクル %>
    <%= form.number_field :evaluation_cycle, id: :staff_evaluation_cycle %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
