<h2>Staff List</h2>

<td>
  <button btn-lg="btn-lg" class="btn-info btn-lg" type="submit"><%= link_to '新規登録', new_staff_path %></button>
</td>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>スタッフID</th>
        <th>地域</th>
        <th>リリース期</th>
        <th>スタッフ名</th>
        <th>評価サイクル</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @staffs.each do |staff| %>
        <tr>
          <th><%= staff.staff_num %></th>
          <th><%= staff.staff_area %></th>
          <th><%= staff.release_time %>期</th>
          <th><%= staff.staff_name %></th>
          <th><%= staff.evaluation_cycle %>ヶ月</th>

          <th>
            <button class="btn-success" type="submit"><%= link_to '詳細', staff %></button>
          </th>
          <th>
            <button class="btn-info" type="submit"><%= link_to '編集', edit_staff_path(staff) %></button>
          </th>
          <th>
            <button class="btn-danger" type="submit"><%= link_to '削除', staff, method: :delete, data: { confirm: '削除しますか?' } %></button>
          </th>
        </tr>
      <% end %>
    </tbody>
  </table>
</table>
</div>
<br>
