<p id="notice"><%= notice %></p>

<p>
  <strong>スタッフID:</strong>
  <%= @staff.staff_num %>
</p>

<p>
  <strong>スタッフ名:</strong>
  <%= @staff.staff_name %>
</p>

<p>
  <strong>評価サイクル:</strong>
  <%= @staff.evaluation_cycle %>
</p>

<%= link_to '編集', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
