<%= form_with(model: voice_check, local: true) do |form| %>
  <% if voice_check.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(voice_check.errors.count, "error") %> prohibited this voice_check from being saved:</h2>

      <ul>
      <% voice_check.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :スタッフID %>
    <%= form.text_field :staff_num, id: :voice_check_staff_num %>
  </div>

  <div class="field">
    <%= form.label :evaluator_id %>
    <%= form.number_field :evaluator_id, id: :voice_check_evaluator_id %>
  </div>

  <div class="field">
    <%= form.label :評価者 %>
    <%= form.text_field :evaluator_name, id: :voice_check_evaluator_name %>
  </div>

  <div class="field">
    <%= form.label :通話開始月日 %>
    <%= form.text_field :log_date, id: :voice_check_log_date %>
    <%= form.date_field :log_date, id: :voice_check_log_date %>
  </div>

  <div class="field">
    <%= form.label :通話開始時間 %>
    <%= form.time_select :log_time, id: :voice_check_log_time %>
  </div>

  <div class="field">
    <%= form.label :お問い合わせ内容 %>
    <%= form.text_area :contact_details, id: :voice_check_contact_details %>
  </div>

  <div class="field">
    <%= form.label :応対結果 %>
    <%= form.text_area :response_result, id: :voice_check_response_result %>
  </div>

  <div class="field">
    <%= form.label :評価者コメント %>
    <%= form.text_area :evaluator_comment, id: :voice_check_evaluator_comment %>
  </div>

  <div class="field">
    <%= form.label :ステータス %>
    <%= form.text_field :status, id: :voice_check_status %>
    <%= form.select :status, [["作成中", "作成中"], ["確定", "確定"]] %>
  </div>

  <div class="field">
    <%= form.label :顧客の重大ミス %>
    <%= form.text_field :customer_miss, id: :voice_check_customer_miss %>
    <%= form.select :customer_miss, [["○", "○"], ["✕", "✕"]],:include_blank => true %>
  </div>

  <div class="field">
    <%= form.label :ビジネスの重大ミス %>
    <%= form.text_field :business_miss, id: :voice_check_business_miss %>
    <%= form.select :business_miss, [["○", "✕"], ["✕", "✕"]],:include_blank => true %>
  </div>

  <div class="field">
    <%= form.label :コンプライアンスの重大ミス %>
    <%= form.text_field :compliance_miss, id: :voice_check_compliance_miss %>
    <%= form.select :compliance_miss, [["○", "✕"], ["✕", "✕"]],:include_blank => true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
