<%= form_with(model: voice_check, local: true) do |form| %>
<% if voice_check.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(voice_check.errors.count, "error") %>
      prohibited this voice_check from being saved:</h2>
    <ul>
      <% voice_check.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<div class="table-responsive">
  <table class=table >
    <tr>
      <th class="info"><%= form.label :スタッフ番号 %></th>
      <th class="info"><%= form.label :通話開始月日 %></th>
      <th class="info"><%= form.label :評価者%></th>
      <th class="info"><%= form.label :ステータス %></th>
    </tr>
    <div class="field" class="info">
      <th><%= form.text_field :staff_num, id: :voice_check_staff_num %></th>
    </div>


    <div class="field">
      <th><%= form.date_field :log_date, id: :voice_check_log_date %></th>
      </div>

      <div class="field">
        <th><%= form.select :evaluator_name, [["及川 恵美", "及川 恵美"], ["品質 花子", "品質 花子"], ["品質 太郎", "品質 花子"]] %></th>
      </div>

      <div class="field">
        <!--%= form.text_field :status, id: :voice_check_status %-->
        <th>
          <%= form.select :status, [["作成中", "作成中"], ["確定", "確定"]] %></th>
      </div>
    </table>
  </div>

  <!--%= form.label :評価者 %-->
  <!--%= form.text_field :evaluator_name, id: :voice_check_evaluator_name %-->

  <div class="table-responsive">
    <table class="table table-bordered">
      <tr>
        <th class="info"><%= form.label :お問い合わせ内容 %></th>
        <th class="info"><%= form.label :応対結果 %></th>
      </tr>
  <div class="field">
        <th><%= form.text_area :contact_details, id: :voice_check_contact_details , :size=>"52"%></th>
      </div>

      <div class="field">
        <th>
          <%= form.text_area :response_result, id: :voice_check_response_result , :size=>"52"%></th>
      </div>
    </table>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered">
      <tr>
        <th class="info">ミス項目</th>
        <th class="info">ポイント</th>
        <th class="info">詳細</th>
        <th class="info">評価</th>
      </tr>

      <div class="field">
        <th><%= form.label :顧客の重大ミス %></th>
        <td>お客さまのご要望に応えること<br>マナーをもって対応すること</td>
        <td>・誤回答、誤案内、誤誘導がない
          <br>・著しいマナー不足がない<br>
        </td>
        <!--%= form.text_field :customer_miss, id: :voice_check_customer_miss %-->
        <th><%= form.select :customer_miss, [["○", "○"], ["✕", "✕"]],:include_blank => true %></th>
      </div>

      <tr>
        <div class="field">
          <th><%= form.label :ビジネスの重大ミス %></th>
          <td>収益に貢献すること<br>不必要なコストを発生させないこと<br/>
            <td>・不必要に対応時間を長引かせない
              <br>・業務損失、呼減につながる行為がない<br></td>

            <!--%= form.text_field :business_miss, id: :voice_check_business_miss %-->
            <th>
              <%= form.select :business_miss, [["○", "○"], ["✕", "✕"]], :include_blank => true %></th>
          </div>
        </tr>
        <tr>
          <div class="field">
            <th><%= form.label :コンプライアンスの重大ミス %></th>
            <td>個人情報を適切に取り扱うこと</td>
            <td>・本人性確認を正しく履行している</td>
            <!--%= form.text_field :compliance_miss, id: :voice_check_compliance_miss %-->
            <th><%= form.select :compliance_miss, [["○", "○"], ["✕", "✕"]],:include_blank => true %></th>
          </tr>
        </div>
      </table>

      <div class="table-responsive">
        <table class="table ">
          <tr>
            <th class="info"><%= form.label :評価者コメント %></th>
             <th class="info">登録</th>
          </tr>
          <div class="field">
            <th>
              <%= form.text_area :evaluator_comment, id: :voice_check_evaluator_comment ,:size=>"50x5"%></th>
          </div>
          <div class="actions">
        <th><%= form.submit %></th>
          <% end %>
          </div>
        </table>
      </div>
