<%= form_with(model: voice_check, local: true) do |form| %>
  <% if voice_check.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(voice_check.errors.count, "error") %> prohibited this voice_check from being saved:</h2>

      <ul>
      <% voice_check.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :staff_num %>
    <%= form.text_field :staff_num, id: :voice_check_staff_num %>
  </div>

  <div class="field">
    <%= form.label :evaluator_id %>
    <%= form.number_field :evaluator_id, id: :voice_check_evaluator_id %>
  </div>

  <div class="field">
    <%= form.label :evaluator_name %>
    <%= form.text_field :evaluator_name, id: :voice_check_evaluator_name %>
  </div>

  <div class="field">
    <%= form.label :log_date %>
    <%= form.text_field :log_date, id: :voice_check_log_date %>
  </div>

  <div class="field">
    <%= form.label :log_time %>
    <%= form.time_select :log_time, id: :voice_check_log_time %>
  </div>

  <div class="field">
    <%= form.label :contact_details %>
    <%= form.text_area :contact_details, id: :voice_check_contact_details %>
  </div>

  <div class="field">
    <%= form.label :response_result %>
    <%= form.text_area :response_result, id: :voice_check_response_result %>
  </div>

  <div class="field">
    <%= form.label :evaluator_comment %>
    <%= form.text_area :evaluator_comment, id: :voice_check_evaluator_comment %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :voice_check_status %>
  </div>

  <div class="field">
    <%= form.label :customer_miss %>
    <%= form.text_field :customer_miss, id: :voice_check_customer_miss %>
  </div>

  <div class="field">
    <%= form.label :business_miss %>
    <%= form.text_field :business_miss, id: :voice_check_business_miss %>
  </div>

  <div class="field">
    <%= form.label :compliance_miss %>
    <%= form.text_field :compliance_miss, id: :voice_check_compliance_miss %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
