<p>
  <strong>スタッフID</strong>
  <%= @voice_check.staff_num %>
</p>

<p>
  <strong>評価者ID</strong>
  <%= @voice_check.evaluator_id %>
</p>

<p>
  <strong>評価者</strong>
  <%= @voice_check.evaluator_name %>
</p>

<p>
  <strong>通話開始月日</strong>
  <%= @voice_check.log_date %>
</p>

<p>
  <strong>通話開始時間</strong>
  <%= @voice_check.log_time %>
</p>

<p>
  <strong>お問い合わせ内容</strong>
  <%= @voice_check.contact_details %>
</p>

<p>
  <strong>応対結果</strong>
  <%= @voice_check.response_result %>
</p>

<p>
  <strong>評価者コメント</strong>
  <%= @voice_check.evaluator_comment %>
</p>

<p>
  <strong>ステータス</strong>
  <%= @voice_check.status %>
</p>

<p>
  <strong>顧客のミス</strong>
  <%= @voice_check.customer_miss %>
</p>

<p>
  <strong>ビジネスのミス</strong>
  <%= @voice_check.business_miss %>
</p>

<p>
  <strong>コンプライアンスのミス</strong>
  <%= @voice_check.compliance_miss %>
</p>

<%= link_to '編集', edit_voice_check_path(@voice_check) %> |
<%= link_to '一覧', voice_checks_path %>
