<% if current_evaluator.try(:admin?) %>
  <h1>Evaluators_admin</h1>
<% else %>
  <h1>Evaluators</h1>
<% end %>

<h1>評価一覧</h1>

<table>
  <thead>
    <tr>
      <th>スタッフID</th>
      <th>評価者</th>
      <th>評価月</th>

      <th>点数</th>
      <th>ランク</th>
      <th>ステータス</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @voices.each do |voice| %>
      <tr>
        <td><%= voice.staff_num %></td>

        <td><%= voice.evaluator_id %></td>
        <td><%= voice.year_month %></td>
        <td><%= voice.score %></td>
        <td><%= voice.rank %></td>
        <td><%= voice.status %></td>

        <td><%= link_to 'Show', voice %></td>
        <td><%= link_to 'Edit', edit_voice_path(voice) %></td>
        <td><%= link_to 'Destroy', voice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Voice', new_voice_path %>
