<p id="notice"><%= notice %></p>

<p>
  <strong>Staff num:</strong>
  <%= @voice.staff_num %>
</p>

<p>
  <strong>Evaluator:</strong>
  <%= @voice.evaluator_id %>
</p>

<p>
  <strong>Year month:</strong>
  <%= @voice.year_month %>
</p>

<p>
  <strong>Contact details:</strong>
  <%= @voice.contact_details %>
</p>

<p>
  <strong>Response result:</strong>
  <%= @voice.response_result %>
</p>

<p>
  <strong>Evaluator comment:</strong>
  <%= @voice.evaluator_comment %>
</p>

<p>
  <strong>Score:</strong>
  <%= @voice.score %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @voice.rank %>
</p>

<p>
  <strong>Status:</strong>
  <%= @voice.status %>
</p>

<p>
  <strong>Item one:</strong>
  <%= @voice.item_one %>
</p>

<p>
  <strong>Item two:</strong>
  <%= @voice.item_two %>
</p>

<p>
  <strong>Item three:</strong>
  <%= @voice.item_three %>
</p>

<p>
  <strong>Item four:</strong>
  <%= @voice.item_four %>
</p>

<p>
  <strong>Item five:</strong>
  <%= @voice.item_five %>
</p>

<%= link_to 'Edit', edit_voice_path(@voice) %> |
<%= link_to 'Back', voices_path %>
