<p id="notice"><%= notice %></p>

<p>
  <strong>スタッフID:</strong>
  <%= @voice.staff_num %>
</p>

<p>
  <strong>評価者:</strong>
  <%= @voice.evaluator_id %>
</p>

<p>
  <strong>評価月:</strong>
  <%= @voice.year_month %>
</p>

<p>
  <strong>問い合わせ内容:</strong>
  <%= @voice.contact_details %>
</p>

<p>
  <strong>応対結果:</strong>
  <%= @voice.response_result %>
</p>

<p>
  <strong>評価者コメント:</strong>
  <%= @voice.evaluator_comment %>
</p>

<p>
  <strong>点数:</strong>
  <%= @voice.score %>
</p>

<p>
  <strong>ランク:</strong>
  <%= @voice.rank %>
</p>

<p>
  <strong>ステータス:</strong>
  <%= @voice.status %>
</p>

<p>
  <strong>項番1:</strong>
  <%= @voice.item_one %>
</p>

<p>
  <strong>項番2:</strong>
  <%= @voice.item_two %>
</p>

<p>
  <strong>項番3:</strong>
  <%= @voice.item_three %>
</p>

<p>
  <strong>項番4:</strong>
  <%= @voice.item_four %>
</p>

<p>
  <strong>項番5:</strong>
  <%= @voice.item_five %>
</p>

<%= link_to 'Edit', edit_voice_path(@voice) %> |
<%= link_to 'Back', voices_path %>
