<!DOCTYPE html>
<html>
  <head>
    <title>ボイスログ評価管理システム</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <ul class="navbar-brand" href="#"><%= link_to "ボイスログ評価管理システム", root_path %></ul>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="default">
            </li>

            <% if evaluator_signed_in? %>
              <li><%= link_to "評価一覧", voice_checks_path %></li>
              <li><%= link_to '新規作成', new_voice_check_path %></li>
              <li><%= link_to 'スタッフ新規登録', new_staff_path %></li>
              <li><%= link_to "スタッフ一覧", staffs_path %></li>

              <ul class="nav navbar-nav mr-auto">
                <li>　　　　　　　　　　
                  <span class="glyphicon glyphicon-log-out"><%= link_to "ログアウト", destroy_evaluator_session_path, method: :delete %></span></li>
      <li>　　　　　</li>

                <li>
                  <span>ようこそ
                    <strong><%= link_to current_evaluator.name, voice_checks_path(current_evaluator.id) %></strong>
                    さん</span></li>
              </ul>


            <% else %>

              <ul class="nav navbar-nav navbar-right">
                <li>　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　</li>
                  <li>  <span class="glyphicon glyphicon-user"><%= link_to "新規登録", new_evaluator_registration_path %>
                  </span>
                </li>
                <li>　　　　　　
                  <span class="glyphicon glyphicon-log-in"><%= link_to "ログイン", new_evaluator_session_path %>
                  </span>
                </li>
              </ul>
            </div>
          <% end %>
      </ul>
    </div>
  </nav>
  <!--/.nav-collapse -->
</div>
</nav>
<br>


<%= yield %>

<footer class="footer">
<div class="container">
  <p class="text-muted">NTT comCHEO 2018
  </p>
</div>
</footer>
</body>
</html>
