<!DOCTYPE html>
<html>
  <head>
    <title>VoiceLog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if evaluator_signed_in? %>
    ようこそ <strong><%= link_to current_evaluator.name, voices_path(current_evaluator.id) %></strong> さん
    <br>
      <%= link_to "スタッフ一覧", staffs_path %>
      <%= link_to "評価一覧", voices_path %>
      <%= link_to "ログアウト", destroy_evaluator_session_path, method: :delete %>
    <% else %>
      <%= link_to "新規登録", new_evaluator_registration_path %>
      <%= link_to "ログイン", new_evaluator_session_path %>
    <% end %>

    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
